{% load otree static %}

<div class="card mb-3">
    <div class="card-body">
        <ol class="list-group list-group-flush">
            <li class="list-group-item">You have an endowment of {{ Constants.endowment }}</li>
            <li class="list-group-item">The computer generates a number between {{ Constants.minguess }}
                and {{ Constants.maxguess }}.
            </li>
            <li class="list-group-item">You have to guess this number.</li>
            <li class="list-group-item">The closer is your guess the more you earn.</li>
        </ol>
    </div>
</div>
