{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please make your choice
{% endblock %}

{% block content %}

    <div id="filippchart" style="min-width: 310px; height: 400px;">

    </div>

{% endblock %}


{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>

    <script>
        $(function () {
            $('#filippchart').highcharts({
                series: {{ series|json }}
            });
        });
    </script>

{% endblock %}


