{% load otree static %}

<div class="card mb-3">
    <div class="card-body">
        <ol class="list-group list-group-flush">
            <li class="list-group-item">You and another participant are matched together.</li>
            <li class="list-group-item">One of you takes the role of <strong>Dictator</strong> and another one is
                a <strong>Receiver</strong>.
            </li>
            <li class="list-group-item">A <strong>Dictator</strong> receives an endowment of {{ Constants.endowment }}.
            </li>

            <li class="list-group-item">The Dictator chooses how much of this endowment he or she wants to send to a
                Receiver.
            </li>
            <li class="list-group-item">The rest of the endowment is received by a Dictator.</li>

        </ol>
    </div>
</div>
